<manifest package="com.rl.leananalytics"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".activities.MasterActivity"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".activities.DetailActivity"
            android:theme="@style/Theme.AppCompat"/>
    </application>

</manifest>
